<form class="connect-button" name="hyves_login" method="post" action="{% url hyves_connect %}">
{% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
{% endif %}

    <input type="hidden" name="userid" id="userid" />
    <input type="hidden" name="username" id="username" />
    <input type="hidden" name="url" id="url" />

    <div id="loginDiv">
      <!-- This is the location where the connect with Hyves buttons is displayed when the auto login attempt fails -->     
    </div>
</form>
