<h1>Provider Failure</h1>
<p>
  It seems like your OpenID doesn't work. Here are some example
  OpenIDs in case that helps clear things up.
</p>
<style type="text/css">
  #examples { border-right: 1px solid #999; border-bottom: 1px solid #999 }
  #examples td, #examples th {
    border-left: 1px solid #999;
    border-top: 1px solid #999;
    padding: 5px }
  #examples th { background-color: #ddd }
</style>
<table id="examples" cellspacing="0">
  <tr>
    <th>Provider</th>
    <th>Example OpenID</th>
  </tr>
  <tr>
    <td><a href="https://www.google.com/accounts">Google</a></td>
    <td>https://www.google.com/accounts/o8/id</td>
  </tr>
  <tr>
    <td><a href="http://openid.yahoo.com/">Yahoo!</a></td>
    <td>me.yahoo.com</td>
  </tr>
  <tr>
    <td><a href="https://www.myopenid.com/">MyOpenID</a></td>
    <td><i>username</i>.myopenid.com</td>
  </tr>
</table>
